@model MStrudel.WebUI.Models.ProductEditViewModel

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.ValidationSummary(true)
@Html.AntiForgeryToken()

<div class="panel">
	<div class="panel-heading">
		<h4>Корегування '@Model.Product.Name'</h4>
	</div>

	@using(Html.BeginForm("Edit", "Admin", FormMethod.Post, new { modelParam = Model, enctype = "multipart/form-data" }))
	{
		<div class="panel-body">
		
			@Html.HiddenFor(model => model.Product.ProductID)

			<div class="form-group">
				@Html.LabelFor(f => f.Product.Category)
				@Html.DropDownListFor(f => f.Product.CategoryId, Model.Categories)
				@Html.ValidationMessageFor(f => f.Categories)
			</div>

			<div class="form-group">
				@Html.LabelFor(f => f.Product.Name)
				@Html.TextBoxFor(f => f.Product.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(f => f.Product.Name)
			</div>

			<div class="form-group">
				@Html.LabelFor(f => f.Product.Description)
				@Html.TextAreaFor(f => f.Product.Description, new { @class = "form-control", rows = 5 })
				@Html.ValidationMessageFor(f => f.Product.Description)
			</div>

			<div class="form-group">
				@Html.LabelFor(f => f.Product.Price)
				@Html.TextBoxFor(f => f.Product.Price, new { @class = "form-control" })
				@Html.ValidationMessageFor(f => f.Product.Price)
			</div>
		</div>
		
		<div class="editor-label">
			<b>Зображення</b>
		</div>
		<div class="editor-field">
			<input id="Image" name="Image" type="file" />
		</div>
		
		if(Model.Product.ImageData != null)
		{
			<div class="pull-left" style="margin-right: 10px">
				<img class="img-thumbnail" width="300" height="300" src="@Url.Action("GetImage", "Product", new { Model.Product.ProductID })" />
			</div>
		}
	
		<div class="panel-footer">
			<input type="submit" value="Зберегти" class="btn btn-primary" />
			@Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
		</div>
	}
</div>