@model MStrudel.Domain.Entities.CartLine

<tr>
	<td>
		@Html.TextBoxFor(x => x.Quantity, new { style="width:40px; text-align:right;", type = "number", min = 1 })
	</td>
	<td class="text-left">@Model.Product.Name</td>
	<td class="text-right">@Model.Product.Price.ToString("c")</td>
	<td class="text-right">@((Model.Quantity * Model.Product.Price).ToString("c"))</td>
	<td>
		<a href="@Url.Action("RemoveFromCart", "Cart", new { productId = Model.Product.ProductID, returnUrl = Request.Url.PathAndQuery })" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-trash pull-right" />
		</a>
	</td>
</tr>
<script type="text/javascript">
	$(document).ready(function ()
	{
		$('#Quantity').change(function ()
		{
			alert('Quantity changed');
		});
	});
</script>