@model MStrudel.Domain.Entities.Category

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="panel">
	<div class="panel-heading">
		<h4>Корегування '@Model.Name'</h4>
	</div>

	@using (Html.BeginForm())
	{
		<div class="panel-body">
    
			@Html.HiddenFor(model => model.CategoryId)

			<div class="form-group">
				@Html.LabelFor(model => model.Name)
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Name)
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SortId)
				@Html.TextBoxFor(model => model.SortId, new { @class = "form-control"})
				@Html.ValidationMessageFor(model => model.SortId)
			</div>
		</div>

		<div class="panel-footer">
			<input type="submit" value="Зберегти" class="btn btn-default" />
			@Html.ActionLink("Назад", "Index", "Category", null, new { @class = "btn btn-default" })
		</div>
	}
</div>