@model IEnumerable<MStrudel.Domain.Entities.Category>

@{
	ViewBag.Title = "Адміністратор - категорії";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Категорії</h3>
	</div>
	<div class="panel-heading">
		@Html.ActionLink("Додати категорію", "Edit", new { categoryId = 0 }, new { @class = "btn btn-default" })
		@Html.ActionLink("Назад", "Index", "Product", null, new { @class = "btn btn-primary" })
	</div>

	<div class="panel-body">
		<table class="table table-bordered">
			<tr>
				<th>Id</th>
				<th>Категорія</th>
				<th>@Html.DisplayNameFor(model => model.SortId)</th>
				<th>Дії</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>@item.CategoryId</td>
					<td>@Html.ActionLink(item.Name, "Edit", new { categoryId = item.CategoryId })</td>
					<td>@item.SortId</td>
					<td>
						@Html.ActionLink("Видалити", "Delete", new { categoryId = item.CategoryId }, new { @class = "btn btn-default btn-xs" })
					</td>
				</tr>
			}
		</table>
	</div>
</div>